<ActionBar title="DEMO" class="action-bar" color="white" backgroundColor="#0066cc">
</ActionBar>
<StackLayout backgroundColor="#c0c9d2">
    <StackLayout marginTop="25%">
        <CardView class="cardStyle" margin="10" elevation="40" radius="3" width="90%" height="70%" radius="5" elevation="5">
            <GridLayout rows="auto,auto, auto,auto,auto,auto,auto" [formGroup]="inputDataForm">
                <Label text="User Details" marginTop="10" textAlignment="center" fontSize="24" fontWeight="bold"></Label>
                <TextField row="1" hint="Enter First Name" formControlName="first_name" width="80%" maxLength="10"
                    borderColor="gray" borderBottomRadius="0.5" marginTop="20" marginBottom="5"></TextField>
                <label *ngIf="inputDataForm.get('first_name').errors && inputDataForm.get('first_name').errors?.required && inputDataForm.get('first_name').touched"
                    row="2" paddingLeft="35" color="red" text="name should be filled" fontSize="10"></label>
                <TextField row="3" hint="Enter Occupation" formControlName="occupation" width="80%" maxLength="10"
                    borderColor="gray" borderBottomRadius="0.5" marginBottom="5"></TextField>
                <label *ngIf="inputDataForm.get('first_name').errors && inputDataForm.get('occupation').errors?.required && inputDataForm.get('occupation').touched"
                    row="4" paddingLeft="35" color="red" text="occupation should be filled" fontSize="10"></label>
                <Button row="5" text="Submit" (tap)="submit()" width="80%" marginTop="10" color="white" backgroundColor="#0066cc"></Button>
                <label row="6" text="View All Users" (tap)="viewAll()" textAlignment="center" fontSize="16" marginTop="15"
                    color="black"></label>

            </GridLayout>
        </CardView>
    </StackLayout>
</StackLayout>